
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

.root{
    --heading-font: "PT Serif";
    --paragraph-font: Roboto, Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    display: block;
    width: 80px;
    margin: 0 auto;
}

nav {
    text-align: center;
}

nav a {
    color: rgb(0, 5, 90);
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: rgb(0, 5, 90);
    font-family: var(--paragraph-font);
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    font-family: var(--paragraph-font);
}

#background {
    height: 725px;
    background-color: grey;
}

header, nav a:hover, .join, .msg, .footer {
    background-color: grey;
}

.book:hover, .join:hover, footer a:hover {
    color: rgb(0, 5, 90);
    text-decoration: underline;
    font-family: var(--paragraph-font);
}

.home-title, .icon, h4, .msg h2, .msg p, footer {
    color: rgb(0, 5, 90);
    font-family: var(--paragraph-font);
}

.book, .join {
    text-decoration: none;
    font-family: var(--paragraph-font);
}

footer a {
    text-align: center;
    text-decoration: none;
    font-family: var(--paragraph-font);
}

footer {
    background-color: grey;  
    font-family: var(--paragraph-font);
}